.inputCardContainer {
  border: 1px solid black;
  padding: 3px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
}

#modifier {
	width:20px;

}
#name {
	width: 100px;
	margin-bottom: 2px;
}
