.toolsPane {
	float: right;
	display: inline-block;
	width: 10vw;
}

.appContainer {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input {
  border-radius: 5px;
}

body {
	margin: 0;
}

.comabatOrderPaneContainer {
	display: inline-block;
}